html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*Reset oara rems - 62.5% = 10px de 16px*/
}

*,
*:before *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}


h4 {
    font-size: 2.6rem;
}

img {
    max-width: 100%;
}

/*estilo de header*/
/**
.header-p {
    width: 100%;
    background-color: #161A16;
    padding: 0.2rem;

}
*/
.contenedores {
    margin-left: 2rem;
    width: 95%;
    height: 8rem;
    margin: 0 auto;
    background-color: #D1FFE9;
    margin-bottom: 0;
    flex-direction: flex;
    justify-content: center;
}
/*
.imagen {
    justify-content: flex-end;
    margin-top: -3rem;
    margin-left: 0.1rem;
    width: 15rem;
    height: 12rem;

}
*/


@media (max-width:768px) {
    .texto {
        font-size: 1.5rem;
        margin: -5rem 1rem 0 7rem;
    }
    .imagen {
        justify-content: flex-end;
        margin-top: -2rem;
        margin-left: 0.1rem;
        width: 10rem;
        height: 10rem;
    }
}

/*NAVEGADOR*/

.caja-nav {
    background-color: #161A16;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;

}
.navegacion .btnav {
    color: #E5DCA8;
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem 0 0.5rem 3rem;
}

@media (max-width:700px) {
    .navegacion .caja-nav .btnav {
        font-size: 1.5rem;
        display: inline-block;
        margin: 1rem 0 0.5rem 3rem;
    }
}

.navegacion .btnav:hover {
    color: #25E655;
}


/*ESTILO DEL BODY*/
.contenedor-seccion {
    background-color: #161A16;
    padding: 0.5rem;
    overflow: hidden;
}

.contenedores-seccion {
    border: 1px solid #CCC;
    background-color: #FFFCFC;
    align-items: center;
}


.caja {
    float: left;
    padding: 2rem;
    width: 38rem;
    text-align: center;
    border-style: solid;
    border-radius: 5rem;
    border-color: #FEF9DD;
    background-color: beige;
    font-size: 2rem;
    margin: 5rem 4rem 5rem 4rem;
}

.caj {
    float: left;
    width: 40rem;
    min-width: 20rem;
    margin: 0rem 0 5rem 4rem;
}
/*ES UNA REGLA PARA AGUSTAR LA PANTALLA*/
@media (min-width:768px) {
    .caja .caj {
        align-items: baseline;
        font-size: 0.5rem;
        margin: auto;
    }
}
/*fooder*/

.cont-footer {
    background-color: #161A16;
    width: 100%;
    min-width: 54%;
    padding: 2rem;
}

.seccion-footer {
    margin-left: 2rem;
    width: 95%;
    min-width: 50%;
}

.copyright {
    margin: 0;
    color: #ffffff;
    float: right;
    margin-right: 1rem;
    font-size: 1.4rem;
}

@media (max-width:700px) {
    .copyright .seccion-footer {
        font-size: 1.5rem;


    }
}

/*botones que lleva en los textos del centro*/
.button {
    background-color: #D1FFE9;
    /* Green */
    border: 1px solid green;
    border-radius: 5rem;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    float: center;
    font-weight: 700;
}

.button:hover {
    background-color: #3e8e41;
}

@media (min-width 768px) {
    .button {
        display: inline-block;
        font-size: 1.8rem;
        margin: 2rem;
    }
}

/**/
.contenedor-texto-his {
    font-size: 18px;
    margin: 3rem 5rem 3rem 5rem;
    text-align: justify;
}

/* formulario de iniciar seccion*/
.forms {
    width: 100%;
    min-width: 50%;
    height: 60%;
    min-height: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    justify-content: center;
}

.formulario {
    width: 50rem;
    height: 25rem;
    min-height: 7rem;
    min-width: 25rem;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2rem 3rem;
    margin: 10rem 40rem 10rem 40rem;
}

@media (max-width:768px) {
    .formulario {
        display: inline-block;
        font-size: 1.8rem;
        margin: 1rem 1rem 1rem 1rem;

    }
}

/*CATALOGO DE PRODUCTOS */
.contenedor-cat {
    background-color: #161A16;
    padding: 0.5rem;
    overflow: hidden;
}

.contenedores-secc {
    border: 1px solid #CCC;
    background-color: #FFFCFC;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.cajas {
    float: left;
    padding: 2rem;
    width: 35rem;
    min-width: 15rem;
    height: 34rem;
    min-height: 15rem;
    text-align: center;
    border-style: solid;
    border-radius: 5rem;
    border-color: #FEF9DD;
    background-color: beige;
    font-size: 2rem;
    margin: 3rem 5rem 2rem 4rem;

}

.caj {
    float: left;
    padding: flex;
    width: 40rem;
    min-width: 20rem;
    margin: 0rem 0 5rem 4rem;
}

@media (min-width:768px) {
    .cajas .caj {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: 1rem;
        margin: 1rem 4rem 1rem 5rem;
    }
}

.div-cont-secc::after {
    content: "";
    clear: both;
    display: table;
    width: 9rem;
    min-width: 4rem;
    align-items: center;
}

.titulo-prins {
    text-align: center;
    background-color: aliceblue;
    margin: 2rem
}

.sliders {
    justify-content: center;
    margin-bottom: 2rem;
}

@media (max-width:768px) {
    .sliders .slider {
        display: inline-block;
        min-width: 70%;
        min-height: 150;
        padding: 1rem;
    }
}

.mensaj {
    font-size: 4rem;
    text-align: center;

}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33 }
    .col-s-5 { width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 { width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 { width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 { width: 91.66%;}
    .col-s-12 { width: 100%;}
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}